@using MVCPhoneServiceWeb.Utils;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCPhoneServiceWeb</title>
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body class="search-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  bg-dark border-bottom box-shadow mb-3" style=" background-color:black;">
            <div class="text-right offset-1">
                <img src="~/Images/logo.jpg" style="height:50px;" alt="" />
            </div>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MCV Phone Service</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item text-white-50">
                                <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>*@
                        <li class="nav-item dropdown text-white-50">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mobile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="CostCenterMobilePhoneExpense" asp-action="General" asp-all-route-data="@SD.CostCenterMobileGeneralExpenses_params">Cost Center General Expenses</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CostCenterMobilePhoneExpense" asp-all-route-data="@SD.CostCenterMobileExpenses_params" asp-action="Index">Cost Center MobilePhone Expenses</a>
                                <a class="dropdown-item" asp-area="" asp-controller="InternationalMobilePhoneCalls" asp-all-route-data="@SD.InternationalCalls_params" asp-action="Index">International Calls</a>
                                <a class="dropdown-item" asp-area="" asp-controller="UserExceededCallingPlans" asp-all-route-data="@SD.UserWhoHasExceededCallingPlan_params" asp-action="Index">Users who have exceeded calling plans </a>
                                <a class="dropdown-item" asp-area="" asp-controller="UserExceededDataPlans" asp-all-route-data="@SD.UserWhoHasExceededDataPlan_params" asp-action="Index">Users who have exceeded data plans </a>

                            </div>
                        </li>
                        <li class="nav-item" role="button">
                            <a class="nav-link" asp-area="" asp-controller="InvoiceStorer" asp-action="Index">New Bill</a>
                        </li>
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Landline
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="TotalCost" asp-action="CostCenterExpenseLandline">Cost Center Expenses</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TotalCost" asp-action="CostCenterExpenseLandline">Cost Center Expenses Details</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TotalCost" asp-action="CostCenterExpenseLandline">Extension Expenses Details</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="InternationalMobilePhoneCalls" asp-action="Index">Internationals Calls</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TotalCost" asp-action="CostCenterExpenseLandline">Personal Acces Code Expenses Details</a>
                                </div>
                            </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Database Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="CallingPlanAssignments" asp-action="Index" asp-all-route-data="@SD.CallingPlanAssignments_params">Calling Plan Assignments</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CallingPlans" asp-action="Index" asp-all-route-data="@SD.CallingPlans_params">Calling Plans</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CostCenters" asp-action="Index" asp-all-route-data="@SD.CostCenters_params">Cost Centers</a>
                                <a class="dropdown-item" asp-area="" asp-controller="DataPlanAssignments" asp-action="Index" asp-all-route-data="@SD.DataPlanAssignments_params">Data Plan Assignments</a>
                                <a class="dropdown-item" asp-area="" asp-controller="DataPlans" asp-action="Index" asp-all-route-data="@SD.DataPlans_params">Data Plans</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Index" asp-all-route-data="@SD.Employee_params">Employees</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Managements" asp-action="Index" asp-all-route-data="@SD.Managements_params">Managements</a>
                                <a class="dropdown-item" asp-area="" asp-controller="MobilePhoneCalls" asp-action="Index" asp-all-route-data="@SD.MobilePhoneCalls_params">Mobile Phone Calls</a>
                                <a class="dropdown-item" asp-area="" asp-controller="MobilePhoneEmployees" asp-action="Index" asp-all-route-data="@SD.MobilePhoneEmployees_params">Mobile Phone Employees</a>
                                <a class="dropdown-item" asp-area="" asp-controller="MobilePhones" asp-action="Index" asp-all-route-data="@SD.MobilePhones_params">Mobile Phones</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LandlinePhoneCalls" asp-action="Index">Landline Phone Calls</a>
                                <a class="dropdown-item" asp-area="" asp-controller="PhoneLineEmployees" asp-action="Index" asp-all-route-data="@SD.PhoneLineEmployees_params">Phone Line Employees</a>
                                <a class="dropdown-item" asp-area="" asp-controller="PhoneLines" asp-action="Index" asp-all-route-data="@SD.PhoneLines_params">Phone Lines</a>
                                <a class="dropdown-item" asp-area="" asp-controller="SMS" asp-action="Index" asp-all-route-data="@SD.Sms_params">Messages</a>
                                <a class="dropdown-item" asp-area="" asp-controller="SMSPlanAssignments" asp-action="Index" asp-all-route-data="@SD.SmsPlansAssignments_params">Sms Plans Assignments</a>
                                <a class="dropdown-item" asp-area="" asp-controller="SMSPlans" asp-action="Index" asp-all-route-data="@SD.SmsPlans_params">Sms Plans</a>
                            </div>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MVCPhoneServiceWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>