@model IEnumerable<Data.ViewModels.CostCenterMobilePhoneExpense>
@using MVCPhoneServiceWeb.Utils

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-8">
            <h2 class="text-black">
                Cost Center Expenses
            </h2>
        </div>
        <div class="col-4 text-right">
        </div>
    </div>
    <br />
    <form method="post" asp-action="Index" enctype="multipart/form-data">
        @{
            Tuple<bool, string>[] show = (Tuple<bool, string>[])ViewData["columns"];
        }
        <input type="hidden" name="cpage" value="@ViewData["page"]" />
        <a class="btn btn-outline-dark dropdown-toggle" href="#" id="navbarDropDownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Columns
        </a>
        <div id="checklist" name="CheckList" class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
            @if (show[0].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="costCenterCodeCheck" />  @Html.DisplayNameFor(model => model.CostCenterCode)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="costCenterCodeCheck" />  @Html.DisplayNameFor(model => model.CostCenterCode)</li>
            }
            @if (show[1].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="costCenterNameCheck" />  @Html.DisplayNameFor(model => model.CostCenterName)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="costCenterNameCheck" />  @Html.DisplayNameFor(model => model.CostCenterName)</li>
            }
            @if (show[2].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="callsCheck" />  @Html.DisplayNameFor(model => model.Calls)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="callsCheck" />  @Html.DisplayNameFor(model => model.Calls)</li>
            }
            @if (show[4].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="smsCheck" />  @Html.DisplayNameFor(model => model.SMS)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="smsCheck" />  @Html.DisplayNameFor(model => model.SMS)</li>
            }
            @if (show[6].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="gprsCheck" />  @Html.DisplayNameFor(model => model.GPRS)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="gprsCheck" />  @Html.DisplayNameFor(model => model.GPRS)</li>
            }
            @if (show[8].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="totalCheck" />  @Html.DisplayNameFor(model => model.Total)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="totalCheck" />  @Html.DisplayNameFor(model => model.Total)</li>
            }
            @if (show[10].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="percentCheck" />  @Html.DisplayNameFor(model => model.Percent)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="percentCheck" />  @Html.DisplayNameFor(model => model.Percent)</li>
            }
            @if (show[12].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="monthCheck" />  @Html.DisplayNameFor(model => model.Month)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="monthCheck" />  @Html.DisplayNameFor(model => model.Month)</li>
            }
            @if (show[13].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="yearCheck" />  @Html.DisplayNameFor(model => model.Year)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="yearCheck" />  @Html.DisplayNameFor(model => model.Year)</li>
            }
        </div>
        <input class="btn btn-outline-dark col-form-label" type="submit" value="filter" />
        <br />
        <br />
        <table class="table table-striped border text-center">
            <tr>
                @if (show[0].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.CostCenterCode)
                    </th>
                }
                @if (show[1].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.CostCenterName)
                    </th>
                }
                @if (show[2].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Calls)
                    </th>
                }
                @if (show[4].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.SMS)
                    </th>
                }
                @if (show[6].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.GPRS)
                    </th>
                }
                @if (show[12].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Month)
                    </th>
                }
                @if (show[13].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                }
                @if (show[8].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                }
                @if (show[10].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Percent)
                    </th>
                }
            </tr>
            <tr>
                @if (show[0].Item1)
                {
                    if (show[0].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[0].Item2" name="costCenterCode" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" name="costCenterCode" />
                        </th>
                    }
                }
                @if (show[1].Item1)
                {
                    if (show[1].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[1].Item2" name="costCenterName" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" name="costCenterName" />
                        </th>
                    }
                }
                @if (show[2].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[2].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[2].Item2" name="minCalls" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="minCalls" />
                            }
                            @if (show[3].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[3].Item2" name="maxCalls" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="maxCalls" />
                            }
                        </div>
                    </th>
                }
                @if (show[4].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[4].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[4].Item2" name="minSms" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="minSms" />
                            }
                            @if (show[5].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[5].Item2" name="maxSms" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="maxSms" />
                            }
                        </div>
                    </th>
                }
                @if (show[6].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[6].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[6].Item2" name="minGprs" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="minGprs" />
                            }
                            @if (show[7].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[7].Item2" name="maxGprs" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="maxGprs" />
                            }
                        </div>
                    </th>
                }
                @if (show[12].Item1)
                {
                    if (show[12].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[12].Item2" name="month" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="Month" name="month" />
                        </th>
                    }
                }
                @if (show[13].Item1)
                {
                    if (show[13].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[13].Item2" name="year" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="Year" name="year" />
                        </th>
                    }
                }
                @if (show[8].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[8].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[8].Item2" name="minTotal" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="minTotal" />
                            }
                            @if (show[9].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[9].Item2" name="maxTotal" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="maxTotal" />
                            }
                        </div>
                    </th>
                }
                @if (show[10].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[10].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[10].Item2" name="minPercent" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="minPercent" />
                            }
                            @if (show[11].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[11].Item2" name="maxPercent" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" name="maxPercent" />
                            }
                        </div>
                    </th>
                }
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @if (show[0].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CostCenterCode)
                        </td>
                    }
                    @if (show[1].Item1)
                    {
                        <td>
                            <a class="btn btn-link" asp-action="Details" asp-all-route-data="@SD.CostCenterMobileExpensesDetails_params" asp-route-month="@show[12].Item2" asp-route-year="@show[13].Item2" asp-route-costCenterCode="@item.CostCenterCode">@item.CostCenterName</a>
                        </td>
                    }
                    @if (show[2].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Calls)
                        </td>
                    }
                    @if (show[4].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.SMS)
                        </td>
                    }
                    @if (show[6].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.GPRS)
                        </td>
                    }
                    @if (show[12].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => SD.Months[item.Month])
                        </td>
                    }
                    @if (show[13].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                    }
                    @if (show[8].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    }
                    @if (show[10].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Percent)
                        </td>
                    }
                </tr>
            }
        </table>
        <div class="row">
            <nav aria-label="Page navigation example">
                Page @((int)ViewData["page"] + 1)
                <ul class="pagination">
                    <li class="page-item">
                        <input class="btn btn-outline-dark col-form-label" type="submit" value="Previous" name="previous" />
                    </li>
                    @for (int i = (20 * (int)ViewData["mult"]) + 1; i <= ((int)ViewData["mult"] * 20 + (int)ViewData["top"]); i++)//(int)ViewData["count"]; i++)
                    {
                        <li class="page-item">
                            <input class="btn btn-outline-dark col-form-label" type="submit" value="@i" name="page" />
                        </li>
                    }
                    <li class="page-item">
                        <input class="btn btn-outline-dark col-form-label" type="submit" value="Next" name="next" />
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <a class=" btn btn-success text-white" asp-action="Export" asp-route-page="cpage" asp-route-costCenterCodeCheck="@show[0].Item1" asp-route-costCenterCode="@show[0].Item2"
                                                                      asp-route-costCenterNameCheck="@show[1].Item1" asp-route-costCenterName="@show[1].Item2"
                                                                      asp-route-callsCheck="@show[2].Item1" asp-route-minCalls="@show[2].Item2" asp-route-maxCalls="@show[3].Item2"

                                                                      asp-route-smsCheck="@show[4].Item1" asp-route-minSms="@show[4].Item2" asp-route-maxSms="@show[5].Item2"

                                                                      asp-route-gprsCheck="@show[6].Item1" asp-route-minGprs="@show[6].Item2" asp-route-maxGprs="@show[7].Item2"

                                                                      asp-route-totalCheck="@show[8].Item1" asp-route-minTotal="@show[8].Item2" asp-route-maxTotal="@show[9].Item2"

                                                                      asp-route-percentCheck="@show[10].Item1" asp-route-minPercent="@show[10].Item2" asp-route-maxPercent="@show[11].Item2"

                                                                      asp-route-monthCheck="@show[12].Item1" asp-route-month="@show[12].Item2"
                                                                      asp-route-yearCheck="@show[13].Item1" asp-route-year="@show[13].Item2">
                                                                      
                    <i class="fas fa-trash-"></i>
                    Export
                </a>
            </div>
        </div>
    </form>
</div>
@*
    <div class="row">
        <form class="col-12 text-right" asp-controller="CostCenterMobilePhoneExpense" asp-action="Index">
            <div class=" row">
                <div class="col-11">
                    <label value="month" class="col-form-label">Month</label>
                    <input type="text" class="rounded text-center" name="month" />

                    <label value="year" class="col-form-label">Year</label>
                    <input type="text" class="rounded text-center" name="year" />
                </div>
                <div class="col-1">
                    <input class="btn btn-outline-dark col-form-label" type="submit" value="filter" />
                </div>
            </div>
        </form>
    </div>
    <br />

    <table class="table table-striped border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CostCenterCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostCenterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerCent)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CostCenterCode)
                </td>
                <td>
                    <a class="btn btn-link" asp-action="Details" asp-route-costCenterCode="@item.CostCenterCode">@item.CostCenterName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerCent)
                </td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-12 text-right">
            <a class=" btn btn-success text-white">
                <i class="fas fa-trash-"></i>
                Export
            </a>
        </div>
    </div>
        </div>
    <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CostCenterCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CostCenterName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Expense)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PerCent)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CostCenterCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CostCenterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expense)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PerCent)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
