@model IEnumerable<Data.ViewModels.ManagementsMobilePhoneExpense>
@using MVCPhoneServiceWeb.Utils

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-8">
            <h2 class="text-black">
                Cost Center Expenses
            </h2>
        </div>
        <div class="col-4 text-right">
        </div>
    </div>
    <br />
    <form method="post" asp-action="Index" enctype="multipart/form-data">
        @{
            Tuple<bool, string>[] show = (Tuple<bool, string>[])ViewData["columns"];
        }
        <input type="hidden" name="cpage" value="@ViewData["page"]" />
        <a class="btn btn-outline-dark dropdown-toggle" href="#" id="navbarDropDownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Columns
        </a>
        <div id="checklist" name="CheckList" class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
            @if (show[0].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="costCenterCodeCheck" />  @Html.DisplayNameFor(model => model.Management)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="costCenterCodeCheck" />  @Html.DisplayNameFor(model => model.Management)</li>
            }
            @if (show[1].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="callsCheck" />  @Html.DisplayNameFor(model => model.Calls)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="callsCheck" />  @Html.DisplayNameFor(model => model.Calls)</li>
            }
            @if (show[3].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="smsCheck" />  @Html.DisplayNameFor(model => model.SMS)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="smsCheck" />  @Html.DisplayNameFor(model => model.SMS)</li>
            }
            @if (show[5].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="gprsCheck" />  @Html.DisplayNameFor(model => model.GPRS)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="gprsCheck" />  @Html.DisplayNameFor(model => model.GPRS)</li>
            }
            @if (show[7].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="totalCheck" />  @Html.DisplayNameFor(model => model.Total)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="totalCheck" />  @Html.DisplayNameFor(model => model.Total)</li>
            }
            @if (show[9].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="percentCheck" />  @Html.DisplayNameFor(model => model.Percent)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="percentCheck" />  @Html.DisplayNameFor(model => model.Percent)</li>
            }
            @if (show[11].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="monthCheck" />  @Html.DisplayNameFor(model => model.Month)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="monthCheck" />  @Html.DisplayNameFor(model => model.Month)</li>
            }
            @if (show[12].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="yearCheck" />  @Html.DisplayNameFor(model => model.Year)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="yearCheck" />  @Html.DisplayNameFor(model => model.Year)</li>
            }
        </div>
        <input class="btn btn-outline-dark col-form-label" type="submit" value="filter" />
        <br />
        <br />
        <table class="table table-striped border">
            <tr>
                @if (show[0].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Management)
                    </th>
                }
                @if (show[1].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Calls)
                    </th>
                }
                @if (show[3].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.SMS)
                    </th>
                }
                @if (show[5].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.GPRS)
                    </th>
                }
                @if (show[11].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Month)
                    </th>
                }
                @if (show[12].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                }
                @if (show[7].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                }
                @if (show[9].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Percent)
                    </th>
                }
            </tr>
            <tr>
                @if (show[0].Item1)
                {
                    if (show[0].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control" value="@show[0].Item2" name="management" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control" name="management" />
                        </th>
                    }
                }
                @if (show[1].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[1].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[1].Item2" name="minCalls" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="minCalls" />
                            }
                            @if (show[2].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[2].Item2" name="maxCalls" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="maxCalls" />
                            }
                        </div>
                    </th>
                }
                @if (show[3].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[3].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[3].Item2" name="minSms" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="minSms" />
                            }
                            @if (show[4].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[4].Item2" name="maxSms" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="maxSms" />
                            }
                        </div>
                    </th>
                }
                @if (show[5].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[5].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[5].Item2" name="minGprs" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="minGprs" />
                            }
                            @if (show[6].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[6].Item2" name="maxGprs" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="maxGprs" />
                            }
                        </div>
                    </th>
                }
                @if (show[11].Item1)
                {
                    if (show[11].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control" value="@show[11].Item2" name="month" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control" value="Month" name="month" />
                        </th>
                    }
                }
                @if (show[12].Item1)
                {
                    if (show[12].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control" value="@show[12].Item2" name="year" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control" value="Year" name="year" />
                        </th>
                    }
                }
                @if (show[7].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[7].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[7].Item2" name="minTotal" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="minTotal" />
                            }
                            @if (show[8].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[8].Item2" name="maxTotal" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="maxTotal" />
                            }
                        </div>
                    </th>
                }
                @if (show[9].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[9].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[9].Item2" name="minPercent" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="minPercent" />
                            }
                            @if (show[11].Item2 != null)
                            {
                                <input class="border rounded form-control" value="@show[11].Item2" name="maxPercent" />
                            }
                            else
                            {
                                <input class="border rounded form-control" name="maxPercent" />
                            }
                        </div>
                    </th>
                }
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @if (show[0].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Management)
                        </td>
                    }
                    @if (show[1].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Calls)
                        </td>
                    }
                    @if (show[3].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.SMS)
                        </td>
                    }
                    @if (show[5].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.GPRS)
                        </td>
                    }
                    @if (show[11].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Month)
                        </td>
                    }
                    @if (show[12].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                    }
                    @if (show[7].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    }
                    @if (show[9].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Percent)
                        </td>
                    }
                </tr>
            }
        </table>
        <div class="row">
            <nav aria-label="Page navigation example">
                Page @((int)ViewData["page"] + 1)
                <ul class="pagination">
                    <li class="page-item">
                        <input class="btn btn-outline-dark col-form-label" type="submit" value="Previous" name="previous" />
                    </li>
                    @for (int i = (20 * (int)ViewData["mult"]) + 1; i <= ((int)ViewData["mult"] * 20 + (int)ViewData["top"]); i++)//(int)ViewData["count"]; i++)
                    {
                        <li class="page-item">
                            <input class="btn btn-outline-dark col-form-label" type="submit" value="@i" name="page" />
                        </li>
                    }
                    <li class="page-item">
                        <input class="btn btn-outline-dark col-form-label" type="submit" value="Next" name="next" />
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <a class=" btn btn-success text-white" asp-action="Export" asp-route-page="cpage" asp-route-csv="@ViewData["csv"]"
                   asp-route-managementCheck="@show[0].Item1" asp-route-management="@show[0].Item2"
                   asp-route-callsCheck="@show[1].Item1" asp-route-minCalls="@show[1].Item2" asp-route-maxCalls="@show[2].Item2"

                   asp-route-smsCheck="@show[3].Item1" asp-route-minSms="@show[3].Item2" asp-route-maxSms="@show[4].Item2"

                   asp-route-gprsCheck="@show[5].Item1" asp-route-minGprs="@show[5].Item2" asp-route-maxGprs="@show[6].Item2"

                   asp-route-totalCheck="@show[7].Item1" asp-route-minTotal="@show[7].Item2" asp-route-maxTotal="@show[8].Item2"

                   asp-route-percentCheck="@show[9].Item1" asp-route-minPercent="@show[9].Item2" asp-route-maxPercent="@show[10].Item2"

                   asp-route-monthCheck="@show[11].Item1" asp-route-month="@show[11].Item2"
                   asp-route-yearCheck="@show[12].Item1" asp-route-year="@show[12].Item2">

                    <i class="fas fa-trash-"></i>
                    Export
                </a>
            </div>
        </div>
    </form>
</div>