@model IEnumerable<Data.ViewModels.TotalCostViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <head> *@
@* <link rel="stylesheet" href="~/css/table.css"> *@
@* </head> *@
<div class="border backgroundWhite">
    <div class="row">
        <h2 class="text-black">
            Cost Center Expenses
        </h2>
    </div>
    <br />

    <table class="table table-striped border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CostCenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CostCenter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expense)
                </td>
                @* <td> *@
                @*     <a asp-action="Edit" asp-route-id="@item.PhoneNumber">Edit</a> | *@
                @*     <a asp-action="Details" asp-route-id="@item.PhoneNumber">Details</a> | *@
                @*     <a asp-action="Delete" asp-route-id="@item.PhoneNumber">Delete</a> *@
                @* </td> *@
            </tr>
        }
    </table>
</div>