@model Data.Models.CallingPlanAssignment
@using MVCPhoneServiceWeb.Utils;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-black">Details Calling Plan Assignment</h2>
<br />
<div class="backgroundWhiteBorder row">
    <div class="col-8">
        <fieldset disabled style="background-color:white;">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="CallingPlanId" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input type="text" asp-for="CallingPlanId" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="PhoneNumber" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input type="text" asp-for="PhoneNumber" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Month" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input type="text" asp-for="Month" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Year" class="custom-label"></label>
                </div>
                <div class="col-4">
                    <input type="text" asp-for="Year" style="background-color:white;" class="form-control text-center" />
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-12"></div>
    <div class="col-8">
        <div class="col-8 offset-3">
                <a class=" btn btn-info text-white" asp-action="Edit" asp-route-phoneNumber="@Model.PhoneNumber" asp-route-month="@Model.Month" asp-route-year="@Model.Year" asp-route-callingPlanId="@Model.CallingPlanId">Edit</a>
                <a asp-action="Index" asp-all-route-data="@SD.CallingPlanAssignments_params" class="btn btn-success">Back to List</a>
        </div>
    </div>
</div>