@model IEnumerable<Data.Models.SMS>
@using MVCPhoneServiceWeb.Utils

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-8">
            <h2 class="text-black">
                Messages
            </h2>
        </div>
        <div class="col-4 text-right">
            @if (User.IsInRole(SD.AdminUser))
            {
                <p>
                    <a asp-action="Create" class="btn btn-outline-dark">
                        <i class="fa fa-plus"></i>
                        &nbsp; Create New
                    </a>
                </p>
            }
        </div>
    </div>
    <br />
    <form method="post" asp-action="Index" enctype="multipart/form-data">
        <input type="hidden" name="cpage" value="@ViewData["page"]" />
        @{
            Tuple<bool, string>[] show = (Tuple<bool, string>[])ViewData["columns"];
        }
        <input type="hidden" name="cpage" value="@ViewData["page"]" />
        <a class="btn btn-outline-dark dropdown-toggle" href="#" id="navbarDropDownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Columns
        </a>
        <div id="checklist" class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
            @if (show[0].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="phoneNumberCheck" />  @Html.DisplayNameFor(model => model.PhoneNumber)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="phoneNumberCheck" />  @Html.DisplayNameFor(model => model.PhoneNumber)</li>
            }
            @if (show[1].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="dateTimeCheck" />  @Html.DisplayNameFor(model => model.DateTime)</li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="dateTimeCheck" />  @Html.DisplayNameFor(model => model.DateTime)</li>
            }
            @if (show[4].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="erCheck" />  @Html.DisplayNameFor(model => model.E_R) </li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="erCheck" />  @Html.DisplayNameFor(model => model.E_R) </li>
            }
            @if (show[5].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="locationCheck" />  @Html.DisplayNameFor(model => model.Location) </li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="locationCheck" />  @Html.DisplayNameFor(model => model.Location) </li>
            }
            @if (show[6].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="destinationCheck" />  @Html.DisplayNameFor(model => model.Destination) </li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="destinationCheck" />  @Html.DisplayNameFor(model => model.Destination) </li>
            }
            @if (show[7].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="totalCostCheck" />  @Html.DisplayNameFor(model => model.Total) </li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="totalCostCheck" />  @Html.DisplayNameFor(model => model.Total) </li>
            }
            @if (show[9].Item1)
            {
                <li class="border-0 dropdown-item"><input type="checkbox" checked name="roamingCheck" />  @Html.DisplayNameFor(model => model.Roaming) </li>
            }
            else
            {
                <li class="border-0 dropdown-item"><input type="checkbox" name="roamingCheck" />  @Html.DisplayNameFor(model => model.Roaming) </li>
            }
        </div>
        <input class="btn btn-outline-dark col-form-label" type="submit" value="filter" />
        <br />
        <br />
        <table class="table table-striped border text-center">
            @* Filters   *@
            <tr class="text-center">
                @if (show[0].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                }
                @if (show[1].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                }
                @if (show[4].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.E_R)
                    </th>
                }
                @if (show[5].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                }
                @if (show[6].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Destination)
                    </th>
                }
                @if (show[7].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                }
                @if (show[9].Item1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Roaming)
                    </th>
                }
                @*@if (show[0].Item1 || show[1].Item1 || show[4].Item1 || show[5].Item1 || show[6].Item1 || show[7].Item1 || show[9].Item1)
                {
                    <th></th>
                }*@
            </tr>
            @* Headers   *@
            <tr>
                @if (show[0].Item1)
                {
                    if (show[0].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[0].Item2" name="phoneNumber" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" name="phoneNumber" />
                        </th>
                    }
                }
                @if (show[1].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[1].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[1].Item2" name="day" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" value="Day" name="day" />
                            }
                            @if (show[2].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[2].Item2" name="month" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" value="Month" name="month" />
                            }
                            @if (show[3].Item2 != null)
                            {
                                <input class="border rounded form-control text-center" value="@show[3].Item2" name="year" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" value="Year" name="year" />
                            }
                        </div>
                    </th>
                }
                @if (show[4].Item1)
                {
                    if (show[4].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[4].Item2" name="er" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" name="er" />
                        </th>
                    }
                }
                @if (show[5].Item1)
                {
                    if (show[5].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[5].Item2" name="location" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" name="location" />
                        </th>
                    }
                }
                @if (show[6].Item1)
                {
                    if (show[6].Item2 != null)
                    {
                        <th>
                            <input class="border rounded form-control text-center" value="@show[6].Item2" name="destination" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input class="border rounded form-control text-center" name="destination" />
                        </th>
                    }
                }
                @if (show[7].Item1)
                {
                    <th>
                        <div class="input-group">
                            @if (show[7].Item2 != null)
                            {

                                <input class="border rounded form-control text-center" value="@show[7].Item2" name="min" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" value="Min" name="min" />
                            }
                            @if (show[8].Item2 != null)
                            {

                                <input class="border rounded form-control text-center" value="@show[8].Item2" name="max" />
                            }
                            else
                            {
                                <input class="border rounded form-control text-center" value="Max" name="max" />
                            }
                        </div>
                    </th>
                }
                @if (show[9].Item1)
                {
                    if (show[9].Item2 != null)
                    {
                        <th>
                            <input type="checkbox" class="border rounded form-control text-center" checked name="roaming" />
                        </th>
                    }
                    else
                    {
                        <th>
                            <input type="checkbox" class="border rounded form-control text-center" name="roaming" />
                        </th>
                    }
                }
                @*@if (show[0].Item1 || show[1].Item1 || show[4].Item1 || show[5].Item1 || show[6].Item1 || show[7].Item1 || show[9].Item1)
                {
                    <th></th>
                }*@
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @if (show[0].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    }
                    @if (show[1].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                    }
                    @if (show[4].Item1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.E_R)
                        </td>
                    }
                    @if (show[5].Item1)
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                    }
                    @if (show[6].Item1)
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Destination)
                        </td>
                    }
                    @if (show[7].Item1)
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    }
                    @if (show[9].Item1)
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Roaming)
                        </td>
                    }
                    @if (User.IsInRole(SD.AdminUser) && (show[0].Item1 || show[1].Item1 || show[4].Item1 || show[5].Item1 || show[6].Item1 || show[7].Item1 || show[9].Item1))
                    {
                        <td style="width:150px">
                            <div class="btn-group" role="group">
                                <a class=" btn btn-info text-white" asp-action="Edit" asp-route-id="@item.SMSId">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a class=" btn btn-dark text-white" asp-action="Details" asp-route-id="@item.SMSId">
                                    <i class="fas fa-list"></i>
                                </a>

                                <a class=" btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.SMSId">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>

        <div class="row">
            <nav aria-label="Page navigation example">
                Page @((int)ViewData["page"] + 1)
                <ul class="pagination">
                    <li class="page-item">
                        <input class="btn btn-outline-dark col-form-label" type="submit" value="Previous" name="previous" />
                    </li>
                    @for (int i = (20 * (int)ViewData["mult"]) + 1; i <= ((int)ViewData["mult"] * 20 + (int)ViewData["top"]); i++)//(int)ViewData["count"]; i++)
                    {
                        <li class="page-item">
                            <input class="btn btn-outline-dark col-form-label" type="submit" value="@i" name="page" />
                        </li>
                    }
                    <li class="page-item">
                        <input class="btn btn-outline-dark col-form-label" type="submit" value="Next" name="next" />
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <a class=" btn btn-success text-white" asp-action="Export" asp-route-page="cpage" asp-route-phoneNumberCheck="@show[0].Item1" asp-route-dateTimeCheck="@show[1].Item1"
                   asp-route-erCheck="@show[4].Item1" asp-route-totalCostCheck="@show[7].Item1" asp-route-locationCheck="@show[5].Item1" asp-route-destinationCheck="@show[6].Item1" asp-route-roamingCheck="@show[9].Item1"
                   asp-route-phoneNumber="@show[0].Item2" asp-route-month="@show[2].Item2" asp-route-year="@show[3].Item2" asp-route-day="@show[1].Item2"
                    asp-route-er="@show[4].Item2" asp-route-min="@show[7].Item2" asp-route-max="@show[8].Item2"
                    asp-route-location="@show[5].Item2" asp-route-destination="@show[6].Item2" asp-route-roaming="@show[9].Item2">
                    <i class="fas fa-trash-"></i>
                    Export
                </a>
            </div>
        </div>
    </form>
</div>


@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneLine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E_R)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roaming)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneLine.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.E_R)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Charge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roaming)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SMSId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SMSId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SMSId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
